@using AccessManagementLaredo
@using AccessManagementLaredo_App.ViewModels
@model RegisterViewModel

@{
    // List<MaintenanceSection> maintenanceSections = (List<MaintenanceSection>)ViewData["maintenanceSections"];
}

<br /><br /><br />
<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <h3>Register User</h3>
        <br />
        <form method="post">
            <div class="form-group">
                <label style="font-weight: bold" asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <br />

            <div class="form-group">
                <label style="font-weight: bold" asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <br />

            <div class="form-group">
                <label style="font-weight: bold" asp-for="Role"></label>
                <select asp-for="Role" name="Role" class="form-select" id="Role">
                    <option value="Owner">Owner</option>
                    <option value="Consultant">Consultant</option>
                </select>
            </div>
            <br />

            <div class="form-group">
                <label style="font-weight: bold" asp-for="CompanyName"></label>
                <input asp-for="CompanyName" class="form-control" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <br />

            <div class="form-group">
                <label style="font-weight: bold" asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <br />

            <div class="form-group">
                <label style="font-weight: bold" asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                @*<span asp-validation-for="Password" class="text-danger"></span>*@
            </div>
            <br />

            <div class="form-group">
                <label style="font-weight: bold" asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
            </div>
            
            <br />
            <div asp-validation-summary="All" class="text-danger"></div>
        
            <button type="submit" class="btn btn-primary center-button-css-signin">Register</button>
        </form>
    </div>
</div>

<script>
    // function selectRoleOption(){
    //     if ($('#Role').val() == "District")
    //         $('#MaintenanceSectionId').val(-1).prop('disabled', true);
    //     else
    //         $('#MaintenanceSectionId').prop('disabled', false).prop('selectedIndex', 0);
    // }
</script>