@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <form action="#" class="form">
        <div class="form-step form-step-active">
            <div class="input-group">
                <label for="firstName">First Name</label>
                <kendo-textbox name="lastNameTextBox">
                </kendo-textbox>
            </div>
            <div class="input-group">
                <label for="lastName">Last Name</label>
                <kendo-textbox name="lastNameTextBox">
                </kendo-textbox>
            </div>
            <div>
                <kendo-button name="next" theme-color="ThemeColor.Primary">Next</kendo-button>
            </div>
        </div>
    </form>
</div>